

.centered-callout {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: left; /* Align text to the left for a more natural reading flow */
    max-width: 90%; /* Increase the width to spread the callout across more of the slide */
    padding: 5px; /* Increase padding for better spacing with larger text */
    background-color: #f9f9f9;

    border-radius: 50px;
    font-size: 1em; /* Increase the font size */
    line-height: 1.5em; /* Adjust line height for readability */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for a 3D effect */
}




/* Add more custom styles for other callout types as needed */